body {
  background-color: black;
  background-image: url(../imagens/nume.jpg);
  background-repeat:space;
  }
  
#container{
  width:380px;      
  background-color: rgba(255, 245, 245,0.8);
  height: 290px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  border-radius: 25px;
}


#container h2{
  margin-left:13%;
  font-size: 23.5px;
}

.bloco{
  padding: 10px;
  margin: 10px;
  font-size:22px;
  text-align: center;
}

#entrada{
  width: 20%;
  height: 30px;
  font-size: 22px;
  text-align: center;
  display: block;
  margin-left: 38%;
}

#play{
  margin-top:8px;
  border: none;
  padding:8px;
  background-color: rgb(12, 91, 209);
  border-radius: 15px;
  width: 30%;
  font-size: 18px;
}


#play:hover{
  background-color: rgb(76, 136, 226);
  color: white;

}

#impressaoErro{
  margin:7px
}


@media screen and (min-width:250px) and (max-width:349px) {

  #impressaoErro{
    font-size: 14px;
  }

  body{
    background-image: none;
  }

  #impressao{
    font-size: 14px;
  }
  
    #entrada{
      font-size: 14px;
      width:35%;
      height: 25px;    
      margin-left:30%;
    }
  
    #play{
      font-size: 11px;
      width:38%;
    }
  
    #container h2{
      margin-left:10%;
      font-size: 14px;
  
    }
   
    #container{
      margin-top:55%;
      width:200px;  
      height: 230px;
  
    }
}


@media screen and (min-width:350px) and (max-width:599px){
  

  body{  background-image: url(../imagens/numer.jpg);}


  #impressao{
    font-size: 18px;
  }
  
    #entrada{
      font-size: 18px;
      width:35%;    
      margin-left: 30%;
    }
  
    #play{
      font-size: 14px;
      width: 38%;
    }
  
    #container h2{
      margin-left:15%;
      font-size: 18px;
  
    }
   
    #container{
      margin-top:50%;
      width:320px;  
      height:280px;
  
    }
  
  }


@media screen and (min-width:600px) and (max-width:785px){
  
body{ 
  background-image:url(../imagens/numer.jpg);
}

#impressao{
  font-size: 20px;
}

  #entrada{
    font-size:20px;
  }

  #play{
    font-size: 18px;
  }

  #container h2{
    margin-left:14%;
    font-size: 23px;

  }
 
  #container{
    margin-top:30%;
    width:370px;  
    height:300px;

  }

}


@media screen and (min-width:786px) and (max-width:900px) {
  #container h2{
    margin-left:11%;
    font-size:22px;
  }
}


@media screen and (min-width:1400px) {
  #impressao{
    font-size: 30px;
  }
  
    #entrada{
      margin-left: 35%;
      font-size: 30px;
      height: 40px;
      width: 25%;
    }
  
    #play{
      font-size: 25px;
      width: 45%;
    }
  
    #container h2{
      margin-left:11%;
      font-size: 26px;
    }

    #container{
      width:400px;
      height:330px;  
  
    }
}

@media screen and (min-width:1500px) {
  body{  background-image:url(../imagens/numerr.jpg);}
}